.body{
    overflow-x: hidden;
    overflow-y: scroll;
    white-space: 1%;
    width: 100%;
    height: 10%;

}


.introduction{
    text-align: center;
     background-color:white;
    text-decoration: none;
    color:black;
    font-size: large;


}
.app{
    text-decoration: none;
    
}

.play{
    border-radius: 50%;
    background-color: orangered;
    color: white;
    height: 13%;
    width: 12%;
}
.nav{
    
    background-color: white;
    display: inline-block;

}
.nav ul li{
    display: inline-block;
    text-decoration: solid;
    color: black;
}
.nav3{
    display:inline-block;
}
.nav3 ul li{
    text-decoration: none;
    color: grey;
    font-size: medium;
    list-style: none;
}
.nav2{
    color:orangered;
}
.fix{
    text-decoration: none;
    color: orangered;
}
.go{
text-decoration: solid;
color: black;
font-size: xx-large;


}
.logo{
    margin-left: -40%;
    padding: 0% 30%;
    height: 50%;
    width: 70%; 
    border-radius: 50%; 
    margin-top: 30%; 
    transform: rotate(-5deg);
}
.go2{
    display: flex;
    background-image: url(/images/bg_720.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: white;
}
.solv{
    background-color:orangered;
    border-radius: 5%;
    padding: 5%;

}


.china{
    
    font-size: 30px;

}
.white{
    display: flex;
    gap: 10%; 
    background-color: rgb(232, 243, 239);  
}
.speech{
    text-decoration: none;
    color: black;
    font-size: smaller;
}
.insights{
    font-size:larger;
    text-decoration: solid;
    font: bolder;
}
.better{
    display: flex 10%;
    width: 100%;
}
.best1{
margin-bottom: 3%;
padding: 0% 3%;
height: 90%;
width:90%;


}
.s{
    height: 1%;
    width: 2%;
}
.sea{
    padding: 2%;
}
.colect{
    text-align: center;
    background-color: white;
     
}

.best2{

    margin-bottom:3%;
    padding: 0% 3%;
    height: 90%;
    width:90%;
  

}
.general2{
    border: solid;
    color:white;
}
.best3{

    margin-bottom: 3%;
    padding: 0% 3%;
    height: 90%;
    width:90%;

       
}
.di1{
    display: flex; 
    border:solid;
    color:grey;
    border-radius: 5%;
    background-color: whitesmoke;
    
}

.d2{
    display: flex; 
    border: solid;
    color:grey;
    border-radius: 5%;
    background-color: whitesmoke;

}
.d3{
     display: flex;
     border: solid;
    color:grey;
    border-radius: 5%;
    background-color:whitesmoke;
    
}
.better{
  display: flex; 
  gap: 10%;
  
 
}
.v1{
background-color:orangered;
height: 15%;
border-radius: 5%;
border-color:orangered;
}
.v2{
    background-color:orangered;
    height: 15%;
    border-radius: 5%;
}
.v3{
    background-color:orangered;
    height: 15%;
    border-radius: 5%;
   
}
.sh1{
    margin-bottom: 2%;
    padding: 0% 3%;
    height: 50%;
    width:90%;
    margin-top: 3%;

    
}
.sh2{
    margin-bottom: 2%;
    padding: 0% 3%;
    height: 40%;
    width:90%;
    margin-top: 3%;
    
    
}
.sh3{
    margin-bottom: 2%;
    padding: 0% 3%;
    height: 50%;
    width:90%;
    margin-top: 3%;
    
    
}
.sh4{
    margin-bottom: 2%;
    padding: 0% 3%;
    height: 40%;
    width:90%;
    margin-top: 3%;
    
    
}
.sh5{
    margin-bottom: 3%;
    height: 40%;
    width:100%;
    

}
.sh6{
    margin-bottom: 3%;
    padding: 0% 3%;
    height: 50%;
    width:100%;



}
.sh7{
    margin-bottom: 2%;
    margin-top: 2%;
    padding: 0% 3%;
    height: 40%;
    width:60%
    
    
    
      
    
}
.sh8{
    margin-bottom: 3%;
    padding: 0% 3%;
    height: 40%;
    width:90%;
    
    
    
}
.div2{
    display:inline-block;
    padding: 2%;
    gap:5%;


}
.div2 ul li{
    list-style: none;
    margin: 1rem;
    font: size 30px;
    text-decoration: solid;   
    
}
.men{
    text-decoration: none;
    color: orangered;
}
.users{
    display: flex;
    
}
.user{
    display: flex;
    
}
.general{
    display:flex;
    border: none;
    color: black;  
    gap:2%;
    margin-top: 3%;
    background-color: rgb(238, 250, 250);
    margin-left: 3%;


    

}
.g2{
    display: flex;
    border: none;
    color: black;
    gap: 5%;
    margin-top: 2%;
    margin-left: 3%;
    background-color: rgb(238, 250, 250);
}
.pink{
    background-color: plum;
    
}
.end{
    display: flex;
    background-color:rgb(255, 0, 76);
    padding: 5%;


}
.end ul li{
    list-style: none;
    display: flex;
    text-decoration: none;
    color: white;
}
.apple{
    width: 10%;
    height: 5%;
}
.bf{
    padding: 2%;
    background-color: orangered;
    margin-bottom: 10%;
    border-radius: 5%;
}
.bbf{
    padding: 2%;
    background-color:white;
    border-radius: 5%;  
}
.arrive1{
    margin-bottom:2%;
    padding: 0% 3%;
    height: 50%;
    width: 90%;

}
.arrive2{
    margin-bottom:2%;
    padding: 0% 3%;
    height: 50%;
    width: 90%  
}
.jum{
    display: flex;
    background-color: rgb(238, 250, 250);
     
}
.jum1{
    display: flex;
    text-decoration: none;
    color: black;
    
}
.jum2{
    display: flex;
    text-decoration: none;
    color: black;
    
    
    
}
.p1{
    color: orangered;
}
.p2{
    color: orangered;
}
.h{
    color: orangered;   
}
.hh{
    color: orangered;
}
.sea{
background-color:white;
border-radius: 5%;
border: solid;
margin-left: 50%;
text-decoration: none;
color: orangered;
border-color: orangered;


}
.new{
text-align: center;
}

.b1{
background-color: orangered;
border-radius: 5%;
padding: 4%;

}
.a1{
    background-color: white;
    border-radius: 5%;
    border-color: orangered;
    padding: 4%;
    

}
.b2{
    background-color:orangered;
    border-radius: 5%;
    padding: 4%;
    
}
.a2{
    background-color:white;
    border-radius: 5%;
    padding: 4%;
    border-color:orangered;
}
.pro{
    text-align: center;
     
}


.model{

    background-color: pink;
    text-align: center;
    display: block;
}
.sub{
    background-color:plum;
    height: 20%;
    width: 30%;
}
.nad{
    border-radius: 50%;
    height: 30%;
    width: 30%;
    margin-top:2%;


}
.test{

    text-decoration: none;
    color: orangered;
    font-size:medium;
}
.mony{
    display: block;

}
.indi{
    border: solid;
    color: white;
    border-color:white;
    border-radius: 5%;
    background-color: white;
    text-decoration: none;
    color: black;
    margin-bottom:3%;
}
.subscribe{
    border: solid;
    background-color:pink;
    border-color:pink;
    text-align: center;
    text-decoration: none;
    color: black;
    font-size: larger;
    border-radius: 5%;
    margin-top:2%;
    margin-left:5%;
    margin-bottom:2%;
    width: 80%;
    height: 20%;


}
.contact{
display: block;
text-align: left;
}
.more{
    display: block;
    text-align: left;
}
.company{
    display: block;
    text-align: left;
}

.discover{
    display: block;
    text-align: left;
}

.sole{
    width: 100%;
    height: 60%;

    
}

.main2{
    
    background-repeat: no-repeat;
    background-size: 5%;
    background-color: rgb(238, 250, 250);

}

.one{
    display: flex;

}

.one ul li{
    list-style: none;
    display: inline-block;
    margin: 1rem;
    
    
}
.info{
    color: orangered;
}
.two{
    display:flex;

    
}
.two ul li{
    list-style: none;
    margin: 1rem;
    background-color: rgb(238, 250, 250);
 
}
.main3{
    display: flex;
    gap: 2%;
    background-color: rgb(238, 250, 250);
}
.main4{
    display: block;
}
.black{
    width: 20%;
    height: 10%;
    padding: 1%;
    margin-bottom: 3%;

}
.black1{
    width: 20%;
    height: 10%;
    padding: 1%;
    margin-bottom: 3%;

}
.black2{
    width: 20%;
    height: 10%;
    padding: 1%;
    margin-bottom: 3%;

}
.f{
    background-color: rgb(165, 42, 73);
}
.blue{
  border-radius: 50%;
  background-color: brown;
  width: 10%;
  height: 5%;

}
.blacks{
    margin-right: 1%;
    position: relative;
    left: -75%;
    margin-top:2%;
    background-color: rgb(238, 250, 250);
}
.cart{
    background-color: orangered;
    border-color: brown;
    text-decoration: none;
    color: white;
    padding: 2%;
    border-radius: 5%;


}
.order{
border-color: orangered;
text-decoration: none;
color: orangered;
font-size: large;
background-color: white;
padding:2%;
border-radius: 5%;

}
.essay{
    text-decoration: solid;
    color: black;
}

.sz{
    text-decoration: none;
    color: brown;
}
.persent{
    color: brown;
}
.min{
    color: brown;
}

.five{
    height:30%;
    width:60%;
    margin-top: 3%;
}
.six{
    height: 30%;
    width:60%;
    margin-top: 3%;
}
.seven{
    height: 30%;
    width:60%;
    margin-top: 3%;
}
.eight{
    height: 30%;
    width:60%;
    margin-top:2%;
}
.class{
    display: flex;
    gap:2%;
    margin-top: 2%;
    margin-left:2%;
    background-color: rgb(238, 250, 250);

}
.same{
    text-align: center;
    text-decoration: solid;
    color: black;
    font-size: auto;
}

.remark{
    display: flex;
    margin-left: 3%;
    gap: 1%;
    width: 80%;
    height: 40%;
    

       
}
.pp1{
    width: 80%;
    height: 70%;
    margin-left:2%;

}
.ooo{
    height: 90%;
    width: 80%;
    background-color: grey;
}
.re{
    display: flex;
    margin-left:5%;
    gap: 5%;
    margin-bottom:2%;
    position: relative;
    top: -100px;
}

.sun{
    display:inline-flex;
    gap:3%;
    margin-left:2%;
    position: relative;
    top: -100px;
}

.maroon{
width: 60%;
height: 80%;
background-color: grey;

}
.pp2{
position: relative;
left: -20%;
}
.pp3{
    position: relative;
    right: 3%;
}
.pp4{
    position: relative;
    right: 3%;
    
}
.t1{
padding: 2%;
border-radius: 10%;
background-color: orangered;
text-decoration: none;
color: white;
}
.t2{
    padding: 2%;
    border-radius: 10%;
    background-color: orangered;
    text-decoration: none;
    color: white;
}
.t3{
    padding: 2%;
    border-radius: 5%;
    background-color: orangered;
    text-decoration: none;
    color: white;
}
.remarks{
    display: block;
    margin-top: 2%;
    background-color: rgb(238, 250, 250);
    width: 100%;
    height: 40%;
} 


 @media only screen and(max-width:800px){
  
}
.forms{
    margin-left: 30%;
}

.q1{
    width: 20%;
    height: 10%;
    padding: 1%;
    border-radius: 2%;
}
.q2{
    width: 20%;
    height: 10%;
    padding: 1%;
    border-radius: 2%;

}
.q3{
    width: 20%;
    height: 10%;
    padding: 1%;
    border-radius: 5%;
}
.q4{
    width: 20%;
    height: 10%;
    padding: 1%;
    border-radius: 2%;
}
.q5{
    width: 20%;
    height: 10%;
    padding: 3%;
    border-radius: 2%;
    padding-bottom: 10%;
}
    

   
















